.DS_Store
*.prefs
*.pref
dump.rdb
*.class
*.jar
*/log4j
*/target
ParentProject/AdminModule/.classpath
ParentProject/BaseModule/.classpath
ParentProject/PartnerModule/.classpath
ParentProject/UserModule/.classpath
PartnerModule-0.0.1-SNAPSHOT.jar
pom.properties
UserModule-0.0.1-SNAPSHOT.jar
UserModule.AppTest.txt
PartnerModule.AppTest.txt
AdminModule-0.0.1-SNAPSHOT.jar
ParentProject/AdminModule/target
ParentProject/PartnerModule/target
ParentProject/UserModule/target
ParentProject/BaseModule/target
